.more {
    .styles {
        font-style: italic;
        cursor: alias;
        border: 1px solid white;
        border-width: 12px;
    }

    .improve {
        border-radius: 4px;
        text-shadow: 1px;
    }
}
